* {
   box-sizing: border-box;
}

body {
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   height: 100vh;
   overflow: hidden;
   margin: 0;
}

.video {
   right: 0;
   bottom: 0;
   display: block;
   min-width: 100%;
   min-height: 100%;
   min-zoom: 50%;
   transform-origin: center;
   transform: translateX(15%);
   position: absolute;
   z-index: 0;
}

.text-logo {
   position: relative;
   display: block;
   margin-top: 50%;
   margin-left: auto;
   margin-right: auto;
   width: 50%;
   z-index: 2;
   filter: blur(0px);
}

h1 {
   font-size: 4rem;
   color: #fff;
   position: absolute;
   left: 50%;
   top: 40%;
   transform: translateX(-50%);
   white-space: nowrap;
}

.container {
   position: relative;
   width: 100%;
   height: 100%;
   background: #333;
}

.split {
   position: absolute;
   width: 33.33%;
   height: 100%;
   overflow: hidden;
   background-repeat: no-repeat;
   background-size: auto;
   transition: all 1s ease-in-out;
}

.split.left {
   left: 0;
   background: #1f170b;
}

.split.right {
   right: 0;
   background: #121212;
}

.split.center {
   left: 33.333%;
   background: #b73739;
}

/* Left Side */
.hover-left .left {
   width: 60%;
   filter: blur(0px);
}

.hover-left .center {
   width: 20%;
   left: 60%;
   filter: blur(5px);
}

.hover-left .right {
   width: 20%;
   filter: blur(5px);
}

/* Right Side */

.hover-right .left {
   width: 20%;
   filter: blur(5px);
}

.hover-right .center {
   width: 20%;
   left: 20%;
   filter: blur(5px);
}

.hover-right .right {
   width: 60%;
   filter: blur(0px);
}

/* Middle */
.hover-center .left {
   width: 20%;
   filter: blur(5px);
}

.hover-center .center {
   width: 60%;
   left: 20%;
}

.hover-center .right {
   width: 20%;
   filter: blur(10px);
}
