.left {
	color: $color-white;
}

.concussion {
	background: $color-primary-conc;
}

.dmcr {
	background: $color-dmc;
}

.pf2 {
	background: $color-pf2;
}

.lambda {
	background: $color-lambda;
}

.logo {
	width: 90%;
}

.conc-logo {
	margin-top: 6rem;
	width: 40%;
}

.pf2-logo {
	width: 40%;
	margin-top: 2rem;
}

.dmcr-logo {
	width: 45%;
	margin-top: 6rem;
}

.lambda-logo {
	width: 50%;
	margin-top: 4rem;
}
