button {
	border: none;
	color: $color-white;
	font-size: 2rem;
	padding: 1.5rem;
}

.action-buttons button {
	position: absolute;
	left: 30%;
	top: 50%;
	z-index: 100;
}

.down-button {
	transform: translateX(-100%);
	border-top-left-radius: 0.5rem;
	border-bottom-left-radius: 0.5rem;
	background: #121212;
}

.up-button {
	transform: translateY(-100%);
	border-top-right-radius: 0.5rem;
	border-bottom-right-radius: 0.5rem;
	background: #b73739;
}
