.slider-container {
	position: relative;
	overflow: hidden;
	width: 100vw;
	height: 100vh;
}

.left-slide {
	height: 100%;
	width: 30%;
	position: absolute;
	top: 0;
	left: 0;
	transition: transform 1s ease-in-out;

	& > div {
		height: 100%;
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}

	& h1 {
		margin-bottom: 1rem;
		margin-top: -3rem;
	}
}

.right-slide {
	height: 100%;
	position: absolute;
	top: 0;
	left: 30%;
	width: 70%;
	transition: transform 1s ease-in-out;

	& .right {
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center center;
		height: 100%;
		width: 100%;
	}

	& .concussion-mini {
		background-image: url(../img/conc_background.png);
	}

	& .pf2-mini {
		background-image: url(../img/pf2-gameplay.JPG);
	}

	& .dmcr-mini {
		background-image: url(../img/deathmatch-gameplay.JPG);
	}

	& .lambda-mini {
		background-image: url(../img/lambda-gameplay.JPG);
	}
}
