// COLOR
$color-white: #fff;
$color-black: #000;
$color-grey-dark: #414141;

$color-primary-conc: linear-gradient(to bottom, $color-black, $color-grey-dark);
$color-dmc: #1f170b;
$color-lambda: #121212;
$color-pf2: #b73739;
